// colors
$color-primary-50: #ebf0ff;
$color-primary-100: #c5d5ff;
$color-primary-200: #7a9fff;
$color-primary-300: #5786ff;
$color-primary-400: #2c63f0;
$color-primary-500: #0b44d9;

$color-neutral-50: #eceef5;
$color-neutral-100: #d7dbea;
$color-neutral-200: #aeb3c9;
$color-neutral-300: #8f94ac;
$color-neutral-400: #656a84;
$color-neutral-500: #282c3c;

$color-negative-50: #ffd4e1;
$color-negative-100: #ffa7c1;
$color-negative-200: #f86591;
$color-negative-300: #ec336b;
$color-negative-400: #da1e56;
$color-negative-500: #656a84;

// $black: #131128;
$color-white: #fff;
$color-bg: #fafafa;

$color-bg-blue-gradient: linear-gradient(180deg, $color-primary-300 0%, $color-primary-400 100%);
// let from = (0.0->pct, "477bff"->hex)
// let to = (100.0->pct, "306aff"->hex)

// font
$font-family: 'DM Sans', sans-serif;
$font-size: 20px;

// radius
$radius-small: 6px;
$radius-medium: 12px;
$radius-large: 16px;
