.button {
  padding: 0.8rem 1.6rem;
  background-color: $color-primary-300;
  border: none;
  border-radius: $radius-small;
  color: $color-white;
  cursor: pointer;

  &.-block {
    width: 100%;
  }
}
