.link {
  border-bottom: 2px solid $color-primary-300;
  color: $color-primary-300;
  text-decoration: none;
  letter-spacing: -.04rem;

  &:hover {
    color: $color-primary-400 !important;
  }

  &.-menu-item {
    color: $color-neutral-500;
    border: none;
  }

  &.-menu-item.-active {
    color: $color-primary-300;
  }
}
