.logo {
  &.-black {
    .symbol > path {
      fill: $color-neutral-500;
    }

    .symbol > circle {
      stroke: $color-neutral-500;
    }

    .conduit > path {
      fill: $color-neutral-500;
    }
  }
}
